<div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-12">
        <ul class="nav nav-tabs">
          <li role="presentation" class="active"><a routerLink="/">Admin Paneli</a></li>
          <li role="presentation"><a routerLink="/admin/patients">Hastalar</a></li>
          <li role="presentation"><a routerLink="/admin/doctors">Doktorlar</a></li>
          <li role="presentation"><a routerLink="/admin/appointments">Randevular</a></li>
          <li role="presentation" class="active"><a routerLink="/">Hasta Paneli</a></li>
          <li role="presentation"><a routerLink="/patient"> Randevu Al/Görüntüle</a></li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-md-6">
        <router-outlet></router-outlet>
      </div>
    </div>